html,
body {
  height: 100%;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tile-preview {
  margin: 20px 0;
  background-color: #fff;
  overflow: hidden;
}

.tile {
  transition: opacity 0.2s;
}

.tile:hover {
  opacity: 0.8;
}

#result {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

@media (min-width: 1000px) {
  .html,
  body {
    margin-left: 180px;
    margin-right: 180px;
  }
}
@media (min-width: 1500px) {
  .html,
  body {
    margin-left: 300px;
    margin-right: 300px;
  }
}
@media (min-width: 1700px) {
  .html,
  body {
    margin-left: 400px;
    margin-right: 400px;
  }
}
