html,
body {
  height: 100%;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  background-color: #fdf1f7;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.tile-preview {
  margin-top: 20px;
  margin-bottom: 40px;
}

.tile {
  position: absolute;
  transition: opacity 0.2s;
}

.tile:hover {
  background-color: white;
  opacity: 0.3;
}

#result {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin-bottom: 60px;
  }

  #result {
    padding: 15px;
  }
}

@media (min-width: 1000px) {
  html,
  body {
    margin-left: 140px;
    margin-right: 140px;
  }
}

@media (min-width: 1500px) {
  html,
  body {
    margin-left: 250px;
    margin-right: 250px;
  }
}

@media (min-width: 1800px) {
  html,
  body {
    margin-left: 300px;
    margin-right: 300px;
  }
}
